<div class="content-wrapper">

  <!-- Main content -->
  <section class="content">
    <h1>เกี่ยวกับเรา</h1><br>
    


        <div class="container">
          <div class="col-xs-12 col-md-12">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4573.923036618973!2d100.58205097789323!3d7.137840394233008!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x304d2c540c54040f%3A0xcfd42089f716f395!2z4LiY4LiZ4Liy4Lin4LiU4Li1IOC4o-C4teC4quC4reC4o-C5jOC4lw!5e0!3m2!1sth!2sth!4v1537158875446"
              width="90%" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>

        </div>
        <br>
        <p>
          เกี่ยวกับเรา
        </p>
      
  </section>
</div>