<div class="content-wrapper">
  <section class="content">

    <h1 class="my-4 text-center text-lg-left"> Gallery</h1>

    <div class="row">

      <div class="col-lg-3 col-md-4 col-xs-6">
        <a href="#" class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail" src="assets/dist/img/twin/twin7.jpg" alt="">
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-xs-6">
        <a href="#" class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail" src="assets/dist/img/twin/twin8.jpg" alt="">
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-xs-6">
        <a href="#" class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail" src="assets/dist/img/twin/twin1.jpg" alt="">
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-xs-6">
        <a href="#" class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail" src="assets/dist/img/twin/twin2.jpg" alt="">
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-xs-6">
        <a href="#" class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail" src="assets/dist/img/twin/twin3.jpg" alt="">
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-xs-6">
        <a href="#" class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail" src="assets/dist/img/twin/twin4.jpg" alt="">
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-xs-6">
        <a href="#" class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail" src="assets/dist/img/twin/twin5.jpg" alt="">
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-xs-6">
        <a href="#" class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail" src="assets/dist/img/twin/twin6.jpg" alt="">
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-xs-6">
        <a href="#" class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail" src="assets/dist/img/twin/twin7.jpg" alt="">
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-xs-6">
        <a href="#" class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail" src="assets/dist/img/twin/twin8.jpg" alt="">
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-xs-6">
        <a href="#" class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail" src="assets/dist/img/twin/twin9.jpg" alt="">
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-xs-6">
        <a href="#" class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail" src="assets/dist/img/twin/twin10.jpg" alt="">
        </a>
      </div>
    </div>
    <nav aria-label="...">
      <ul class="pager">
        <li><a routerLink="/gallery">ย้อนกลับ</a></li>
        
      </ul>
    </nav>
  </section>
</div>