<div class="content-wrapper">

  <!-- Main content -->
  <section class="content">


    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">การจัดการข้อมูลห้องพัก</div>

      <!-- Table -->
      <table class="table table-hover table-bordered">
        <thead>
          <tr>
            <th>#</th>
            <th>หมายเลขห้อง</th>
            <th>ประเภทห้อง</th>
            <th>ราคา</th>
            <th>สถานะห้อง</th>
            <th>แก้ไข/ลบ</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Vip1</td>
            <td>VIP</td>
            <td>1,000</td>
            <td>ชำรุด</td>

            <td><i class="fa fa-edit"></i> | <i class="fa fa-close"></i></td>
          </tr>


          <tr>
              <td>2</td>
              <td>Vip2</td>
              <td>VIP</td>
              <td>1,000</td>
              <td>ว่าง</td>
  
              <td><i class="fa fa-edit"></i> | <i class="fa fa-close"></i></td>
            </tr>

            <tr>
                <td>3</td>
                <td>111</td>
                <td>ห้องธรรมดา</td>
                <td>600</td>
                <td>ว่าง</td>
    
                <td><i class="fa fa-edit"></i> | <i class="fa fa-close"></i></td>
              </tr>
              
              <tr>
                  <td>4</td>
                  <td>112</td>
                  <td>ห้องธรรมดา</td>
                  <td>600</td>
                  <td>ชำรุด</td>
      
                  <td><i class="fa fa-edit"></i> | <i class="fa fa-close"></i></td>
                </tr>

                <tr>
                    <td>5</td>
                    <td>113</td>
                    <td>ห้องธรรมดา</td>
                    <td>600</td>
                    <td>ว่าง</td>
        
                    <td><i class="fa fa-edit"></i> | <i class="fa fa-close"></i></td>
                  </tr>

                  <tr>
                      <td>6</td>
                      <td>114</td>
                      <td>ห้องธรรมดา</td>
                      <td>600</td>
                      <td>ว่าง</td>
          
                      <td><i class="fa fa-edit"></i> | <i class="fa fa-close"></i></td>
                    </tr>

                    <tr>
                        <td>7</td>
                        <td>115</td>
                        <td>ห้องธรรมดา</td>
                        <td>600</td>
                        <td>ชำรุด</td>
            
                        <td><i class="fa fa-edit"></i> | <i class="fa fa-close"></i></td>
                      </tr>

        </tbody>
      </table>
    </div>

  </section>
</div>